<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Markets</h1>
</div>
<!-- ======= Markets Section ======= -->
<div id="market" class="market">
    <div class="container-fluid card shadow mb-4">

        <section>
            <br>
            <!-- TradingView Widget BEGIN -->
            <h3>Cryptocurrency<a name="" id="" class="btn btn-primary float-right" href="/app/trade"
                    role="button">Trade</a></h3>
            <div class="dataTables_length" id="dataTable_length">

            </div>
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="/" rel="noopener" target="_blank"><span
                            class="blue-text">Cryptocurrency Markets by TradExc</span></a></div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                        {
                            "width": "100%",
                                "height": "100%",
                                    "defaultColumn": "overview",
                                        "screener_type": "crypto_mkt",
                                            "displayCurrency": "EUR",
                                                "colorTheme": "light",
                                                    "locale": "en"
                        }
                    </script>
            </div>
            <!-- TradingView Widget END -->
        </section>
        <br><br><br>
    </div>
    <br>
    <div class="container-fluid card shadow mb-4">
        <section>
            <br>
            <!-- TradingView Widget BEGIN -->
            <h3>Market<a name="" id="" class="btn btn-primary float-right" href="/app/trade" role="button">Trade</a>
            </h3>
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="/" rel="noopener" target="_blank"><span
                            class="blue-text">Market Data by TradExc</span></a></div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                        {
                            "width": "100%",
                                "height": "100%",
                                    "symbolsGroups": [
                                        {
                                            "name": "Indices",
                                            "originalName": "Indices",
                                            "symbols": [
                                                {
                                                    "name": "FOREXCOM:SPXUSD",
                                                    "displayName": "S&P 500"
                                                },
                                                {
                                                    "name": "FOREXCOM:NSXUSD",
                                                    "displayName": "Nasdaq 100"
                                                },
                                                {
                                                    "name": "FOREXCOM:DJI",
                                                    "displayName": "Dow 30"
                                                },
                                                {
                                                    "name": "INDEX:NKY",
                                                    "displayName": "Nikkei 225"
                                                },
                                                {
                                                    "name": "INDEX:DEU30",
                                                    "displayName": "DAX Index"
                                                },
                                                {
                                                    "name": "FOREXCOM:UKXGBP",
                                                    "displayName": "FTSE 100"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "Commodities",
                                            "originalName": "Commodities",
                                            "symbols": [
                                                {
                                                    "name": "CME_MINI:ES1!",
                                                    "displayName": "E-Mini S&P"
                                                },
                                                {
                                                    "name": "CME:6E1!",
                                                    "displayName": "Euro"
                                                },
                                                {
                                                    "name": "COMEX:GC1!",
                                                    "displayName": "Gold"
                                                },
                                                {
                                                    "name": "NYMEX:CL1!",
                                                    "displayName": "Crude Oil"
                                                },
                                                {
                                                    "name": "NYMEX:NG1!",
                                                    "displayName": "Natural Gas"
                                                },
                                                {
                                                    "name": "CBOT:ZC1!",
                                                    "displayName": "Corn"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "Bonds",
                                            "originalName": "Bonds",
                                            "symbols": [
                                                {
                                                    "name": "CME:GE1!",
                                                    "displayName": "Eurodollar"
                                                },
                                                {
                                                    "name": "CBOT:ZB1!",
                                                    "displayName": "T-Bond"
                                                },
                                                {
                                                    "name": "CBOT:UB1!",
                                                    "displayName": "Ultra T-Bond"
                                                },
                                                {
                                                    "name": "EUREX:FGBL1!",
                                                    "displayName": "Euro Bund"
                                                },
                                                {
                                                    "name": "EUREX:FBTP1!",
                                                    "displayName": "Euro BTP"
                                                },
                                                {
                                                    "name": "EUREX:FGBM1!",
                                                    "displayName": "Euro BOBL"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "Forex",
                                            "originalName": "Forex",
                                            "symbols": [
                                                {
                                                    "name": "FX:EURUSD"
                                                },
                                                {
                                                    "name": "FX:GBPUSD"
                                                },
                                                {
                                                    "name": "FX:USDJPY"
                                                },
                                                {
                                                    "name": "FX:USDCHF"
                                                },
                                                {
                                                    "name": "FX:AUDUSD"
                                                },
                                                {
                                                    "name": "FX:USDCAD"
                                                }
                                            ]
                                        }
                                    ],
                                        "colorTheme": "light",
                                            "isTransparent": false,
                                                "locale": "en"
                        }
                    </script>
            </div>
            <!-- TradingView Widget END -->
        </section>

        <br><br><br>
    </div>

</div><!-- End Markets Section -->

<!-- Bootstrap core JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/js/sb-admin-2.min.js"></script>