<p>Hi there,</p>

<p>Protecting your data and your privacy are essential priorities for Tradexc. That’s why we make sure to keep
    you informed of how and why we collect and use your data.</p>

<p>Sincerely,
    The Tradexc Team</p>